*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.middle img {
    width: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}


.zdjencie{
    border-radius: 10%;
    margin: 10px;
}
.sekcja1 {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 10px;
  padding-bottom: 30px;
  font-size: 2em;
  font-family: "Century Gothic", "Lato", sans-serif;
  margin: 50px;
}

footer {
    height: 100px;
    background-color: black;
    margin-bottom: 0%;
    position: relative;
}
.middle{
  text-align: center;

}
.parallax1{
  height: 60vh;
  width: 100%;
  background-image: url("img/par1.png");
  background-size: cover;
  display: table;
  background-attachment: fixed;
}
.parallax2{
  height: 70vh;
  width: 100%;
  background-image: url("img/par2.jpg");
  background-size: cover;
  display: table;
  background-attachment: fixed;
  padding: 10px;
}
.parallax3{
  height: 85vh;
  width: 100%;
  background-image: url("img/par3.webp");
  background-size: cover;
  display: table;
  background-attachment: fixed;
}
header{
    width: 100%;
    height: 50%;
    overflow: hidden;
}
header figure img{
    float: left;
    width: 20%;
    height: 50%;
    border-radius: 8%;
    margin: 5px;
}
header figure{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 30s slider infinite alternate-reverse;
    
}
@keyframes slider{
    0%{
        left: 0%;
    }
    20%{
        left: -100%;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -200%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -300%;
    }
    75%{
        left: -300%;
    }
    95%{
        left: -400%;
    }
    100%{
        left: -400%;
    }
}
:root {
    --card-height: 300px;
    --card-width: calc(var(--card-height) / 1.5);
  }
  * {
    box-sizing: border-box;
  }
  
  .card {
    width: var(--card-width);
    height: var(--card-height);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0 36px;
    perspective: 2500px;
    
    
  
    margin: 50px;
    
  }
  
  .cover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .wrapper {
    transition: all 0.5s;
    position: absolute;
    width: 100%;
    z-index: -1;
    text-align: center;
  }
  
  .card:hover .wrapper {
    transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
    box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  }
  
  .wrapper::before,
  .wrapper::after {
    content: "";
    opacity: 0;
    width: 100%;
    height: 80px;
    transition: all 0.5s;
    position: absolute;
    left: 0;
  }
  .wrapper::before {
    top: 0;
    height: 100%;
    background-image: linear-gradient(
      to top,
      transparent 46%,
      rgba(12, 13, 19, 0.5) 68%,
      rgba(12, 13, 19) 97%
    );
  }
  .wrapper::after {
    bottom: 0;
    opacity: 1;
    background-image: linear-gradient(
      to bottom,
      transparent 46%,
      rgba(12, 13, 19, 0.5) 68%,
      rgba(12, 13, 19) 97%
    );
  }
  
  .card:hover .wrapper::before,
  .wrapper::after {
    opacity: 1;
    
  }
  
  .card:hover .wrapper::after {
    height: 120px;
  }
  .title {
    width: 100%;
    transition: transform 0.5s;
    margin-bottom: 5px;
  }
  .card:hover .title {
    transform: translate3d(0%, -50px, 100px);
  }
  
  .character {
    width: 100%;
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    z-index: -1;
  }
  
  .card:hover .character {
    opacity: 1;
    transform: translate3d(0%, -30%, 100px);
  }

 
  
  a {
    text-decoration: none;
  }
  
  .et-hero-tabs,
  .et-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    position: relative;
    
    
    text-align: center;
    padding: 0 2em;
  }
  .et-hero-tabs h1,
  .et-slide h1 {
    font-size: 2rem;
    margin: 0;
    letter-spacing: 1rem;
  }
  .et-hero-tabs h3,
  .et-slide h3 {
    font-size: 1rem;
    letter-spacing: 0.3rem;
    opacity: 0.6;
  }
  
  .et-hero-tabs-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background: white;
    z-index: 10;
    
    
    
    
    
  }
  .sekcja1{
    text-align: center;
  }
  .et-hero-tabs-container--top {
    position: fixed;
    top: 0;
  }
  
  .et-hero-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: black;
    letter-spacing: 0.1rem;
    transition: all 0.5s ease;
    font-size: 0.8rem;
    border: 1px solid black;
  }
  .et-hero-tab:hover {
    color: white;
    background: rgba(102, 177, 241, 0.8);
    transition: all 0.5s ease;
  }
  
  .et-hero-tab-slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 6px;
    background: #66B1F1;
    transition: left 0.3s ease;
  }
  
  @media (min-width: 800px) {
    .et-hero-tabs h1,
  .et-slide h1 {
      font-size: 3rem;
    }
    .et-hero-tabs h3,
  .et-slide h3 {
      font-size: 1rem;
    }
  
    .et-hero-tab {
      font-size: 1rem;
    }
  }
  